* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'TTLakes', sans-serif;
    background: #ebeef3;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.AppContent {
    width: 941px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.paginator {
    margin: 27px 0;
}

.link {
    color: inherit;
    text-decoration: none;
    color: #1890ff;
}
