.header {
    height: 80px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &Name {
        color: inherit;
        text-decoration: none;
    }
    &Button {
        background: none;
        border: none;
        padding: 6px 10px;
        margin-left: 20px;
        font-size: 18px;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: #52c41a;
            border: 1px solid #52c41a;
            border-radius: 5px;
        }
    }
}
